@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    山东省青岛市崂山区山东头路58号<br />
    盛和大厦2号楼1301<br />
    <abbr title="内线电话">内线电话:</abbr>
    8016
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:281960960@qq.com">联系邮箱</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>