@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1 style="font-size:larger;font-family:'Microsoft YaHei UI'">富华财富报表查询系统</h1><p style="font-size:smaller">登录时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm")</p>
    <p class="lead">富华报表查询系统，仅供公司内部使用，严禁外网登录系统。</p>
    <p><a href="javascript:void(0)" class="btn btn-primary btn-lg">More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>投资明细表</h2>
        <p>
            各项目投资明细报表，按照投资时间倒叙排列，按照标的序号顺序排列，暂时尚未有条件，后续版本增加。
        </p>
        <p><div class="btn btn-default">@Html.ActionLink("投资明细表", "Index", "Amount")&raquo;</div></p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="javascript:void(0)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="javascript:void(0)">Learn more &raquo;</a></p>
    </div>*@
</div>